<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Churn</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/about">About</a>
                </li>
                <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/predict">Predict</a>
                    </li>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
                        </li>
             
              </li>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div style="width:800px;heigth:800px;margin:20px 20px 20px 350px; 
      border:2px solid red;border-radius:20px;padding:40px 40px 40px 40px">
      <form class="row g-3 needs-validation" method="post" action="/result">
        <center><h3>churn preddiction</h3></center>
        <div class="col-md-4">
          
          <label for="validationCustom01" class="form-label">enter the tenuer</label>
          <input
          type="number"
          class="form-control"
          id="validationCustom01"
          placeholder="enter the tenture"
          name="tenture"
          required
          />
      

          <div class="valid-feedback">
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationCustom02" class="form-label">monthly charges</label>
          <input
          type="number"
          class="form-control"
          id="validationCustom01"
          placeholder="enter the monthly charges"
          name="monthly_charges"
          required
          />
     

          <div class="valid-feedback">
           
          </div>
        </div>

          <div class="col-md-6">
            <label for="validationCustom02" class="form-label">total charges</label>
            <input
            type="number"
            class="form-control"
            id="validationCustom01"
            placeholder="enter the total charges"
     
            name="total_chrages"
            required
            />
            
  
            <div class="valid-feedback">
             
            </div>
  
        </div>
      
      

        <div class="col-md-6">
          <label for="validationCustom04" class="form-label">internet service</label>
          <select class="form-select" id="validationCustom04" required name="internet_service">
            <option selected disabled value="">Choose...</option>
            <option value="0">Yes</option>
            <option value="1">No</option>

            <option>...</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid state.
          </div>
        </div>

        <div class="col-md-6">
          <label for="validationCustom04" class="form-label">paperless </label>
          <select class="form-select" id="validationCustom04" required name="paperless_service">
            <option selected disabled value="">Choose...</option>
            <option value="0">Yes</option>
            <option value="1">No</option>

            <option>...</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid state.
          </div>
        </div>

        <div class="col-md-6">
          <label for="validationCustom04" class="form-label">device protection</label>
          <select class="form-select" id="validationCustom04" required name="device_protection">
            <option selected disabled value="">Choose...</option>
            <option value="0">Yes</option>
            <option value="1">No</option>

            <option>...</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid state.
          </div>
        </div>

        <div class="col-md-6">
          <label for="validationCustom04" class="form-label">gender</label>
          <select class="form-select" id="validationCustom04" required name="gender">
            <option selected disabled value="">Choose...</option>
            <option value="0">Male</option>
            <option value="1">Female</option>

            <option>...</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid state.
          </div>
        </div>

        <div class="col-md-6">
          <label for="validationCustom04" class="form-label">contact encodeing</label>
          <select class="form-select" id="validationCustom04" required name="contact_encoding">
            <option selected disabled value="">Choose...</option>
            <option value="0">Yes</option>
            <option value="1">No</option>

            <option>...</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid state.
          </div>
        </div>

       

        <div class="col-md-6">
          <label for="validationCustom04" class="form-label">payment method</label>
          <select class="form-select" id="validationCustom04" required name="payment_method">
            <option selected disabled value="">Choose...</option>
            <option value="0">Yes</option>
            <option value="1">No</option>

            <option>...</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid state.
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationCustom04" class="form-label">phone </label>
          <select class="form-select" id="validationCustom04" required name="phone">
            <option selected disabled value="">Choose...</option>
            <option value="0">Yes</option>
            <option value="1">No</option>

            <option>...</option>
          </select>
        </div>
          <br><br>

       
       

        <div class="col-12">
          <center><button class="btn btn-primary" type="submit">Submit form</button></center>
        </div>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <nav class="navbar sticky-bottom bg-body-tertiary">
        <div class="container-fluid">
          <p style="margin-left: 655px;">All rigth reserved 2024</p>
        </div>
      </nav>
  </body>
</html>